.Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin: 0px auto;
  flex-direction: column;
}

.cardWrapper:nth-child(odd) {
  background-color: #e4e8f5;
  border-radius: 10px;
}
.cardWrapper {
  width: 100%;
  display: flex;
  padding: 15px;
}

.tblHeading {
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.viewHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 0;
}

.title {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: capitalize;
  border-left: solid 1px #28618f;
  padding-left: 10px;
}

.companyName {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  text-transform: capitalize;
  border-left: solid 1px #28618f;
  /* border-right: solid 1px #28618f; */
  padding-left: 10px;
}
.viewBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  padding: 5px 0;
  background-color: #617c9e;
  color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.viewBtn:hover {
  background-color: #28618f;
}
@media only screen and (min-width: 800px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .cartCantainer {
    width: 100%;
    /* padding-b/ottom: 1rem; */
  }
  .containerHeading h1 {
    font-size: 20px;
  }
}

@media only screen and (min-width: 10px) and (max-width: 801px) and (-webkit-min-device-pixel-ratio: 1) {
  .Container {
    width: 95%;
  }
  .cardWrapper:nth-child(odd) {
    border-radius: 0px;
  }
}
